.bg_aff_main_block {
  background-image: url(../images/aff_main_img.jpg);
  min-height: 676px;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aff_main_block_position {
  position: absolute;
  top: 288px;
  width: 100%;
  left: 0;
  padding-left: 10%;
}

.aff_main_block_text .btn_container {
  max-width: 375px;
  margin-left: -22px;
  margin-top: 40px;
}

.aff_second_block {
  background: #2A123F;
  padding: 100px 5%;
}

.aff_second_block_text {
  display: flex;
  gap: 40px;
  justify-content: space-around;
}

.aff_second_block::after {
  border-right: 2px solid #2A123F;
  width: 40px;
  height: 92px;
  content: '';
  position: absolute;
  transform: rotate(227deg);
  right: -30px;
  bottom: -30px;
  background: #1C0C29;
}

.aff_second_block_curner {
  position: relative;
  overflow: hidden;
}

.aff_second_block_text>img {
  margin-bottom: 50px;
}

.aff_offer_block {
  background: url(../images/aff_text_border.png) no-repeat;
  background-position: center;
  background-size: contain;
  box-sizing: border-box;
  text-align: center;
  padding: 16px 24px;
  text-decoration: none;
  height: auto;
  margin-left: 0;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
}

.aff_second_block_text_left p {
  color: #F8F8F8;
  letter-spacing: 0.2px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  width: 100%;
  max-width: 520px;
}

.aff_second_block_text_right p {
  width: 100%;
  color: #F8F8F8;
  letter-spacing: 0.2px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  white-space: nowrap;
}

.our_best_offers {
  position: relative;
  overflow: hidden;
  margin-top: 100px;
}

.our_best_offers_elips1 {
  position: absolute;
  top: -100px;
  z-index: -1;
  opacity: .5;
}

.our_best_offers h2,
.how_be_affiliates h2 {
  text-shadow: 2px 4px 0px rgba(251, 37, 118, 0.5);
  color: #F8F8F8;
  text-align: center;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 42px;
  line-height: 44px;
  font-family: 'Chakra Petch', sans-serif;
  padding-top: 96px;
  padding-bottom: 64px;
}

.our_best_slider_text {
  position: absolute;
}

.our_best_slider_row1 {
  margin-left: auto;
  display: block;
  position: absolute;
  right: 20px;
  top: 32px;
}

.our_best_small_text {
  color: #98919E;
  letter-spacing: 0.4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  padding-top: 10px;
  margin-bottom: 0;
}

.our_best_bold_text {
  letter-spacing: 0.4px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
}

.our_best_flags {
  display: flex;
  gap: 20px;
}

.how_be_affiliates {
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
}

.how_be_affiliates_elips1 {
  position: absolute;
  right: 0;
  top: -50px;
  opacity: .5;
}

.howBe_auth {
  display: flex;
  gap: 20px;
  align-items: center;
}

.howBe_auth_text h4 {
  color: #FB2576;
  letter-spacing: 0.4px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
}

.howBe_auth_text p {
  color: #98919E;
  letter-spacing: 0.4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
}

.hr_pink {
  border: transparent;
  border-top: 2px solid #711437;
  width: 100%;
  margin: 16px 0;
}

.how_be_affiliates_swiper_block_text {
  color: #98919E;
  letter-spacing: 0.2px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

@media (max-width:900px) {
  .aff_second_block_text {
    flex-direction: column;
    text-align: center;
  }

  .aff_second_block_text_left>img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .aff_second_block_text_left p {
    margin-left: auto;
    margin-right: auto;
}
}

@media (max-width:768px) {

  .aff_main_block_position {
    padding-left: 0;
  }

  .aff_second_block_text_left>img {
    margin-bottom: 64px;
  }

  .aff_main_block_text h1 {
    text-align: center;
  }

  .aff_main_block_text .btn_container {
    max-width: 100%;
    margin-left: 0;
  }

  .btn_full_reg_long {
    margin-left: 0;
  }
}

@media (max-width:450px) {
  .our_best_offers, .how_be_affiliates {
    margin-top: 0;
    margin-bottom: 0;
  }
  .our_best_offers h2,
  .how_be_affiliates h2 {
    font-size: 32px;
    line-height: 34px;
  }

  .how_be_affiliates h2 {
    padding-top: 6px;
  }
}

@media (max-width:400px) {
  .bg_slide_border {
    background-size: 280px 400px !important;
    width: 280px !important;
  }

}

@media (max-width:361px) {


  .aff_main_block_position {
    top: 250px;
  }

  .aff_offer_block {
    padding: 12px 20px;
    gap: 6px;
  }

  .aff_second_block_text_right p {
    font-size: 14px;
    line-height: 24px;
  }

}

@media (max-width:280px) {
  .btn {
    padding: 8px 25px;
    width: 128px;
  }

  .bg_slide_border {
    padding: 20px;
  }
}