.main_thank_block h1 {
  text-shadow: 2px 4px 0px rgba(251, 37, 118, 0.5);
  color: #F8F8F8;
  text-align: center;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 42px;
  line-height: 44px;
  font-family: 'Chakra Petch', sans-serif;
}

.main_thank_block {
  padding: 250px 0;
  max-width: 815px;
}

.main_thank_block .btn_container {
  justify-content: center;
}

.btn_read_ourBlog {
  background: url(../images/btn_fill.png) no-repeat;
  background-size: contain;
  background-position: center;
  box-sizing: border-box;
  text-align: center;
  padding: 12px 24px;
  text-decoration: none;
  color: #F8F8F8;
  letter-spacing: 0.4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  width: 190px;
}

.btn_read_ourBlog:hover {

  background: url(../images/btn_empty.png) no-repeat;
  background-size: contain;
  background-position: center;
  box-sizing: border-box;
  width: 190px;
  padding: 12px 34px 12px 12px ;
}

.arrow_hover_readmore {
  position: relative;
  -webkit-transition: padding-right .16s ease-out;
  transition: padding-right .16s ease-out;
}
.arrow_hover_readmore:after, .arrow_hover_readmore:before {
  content: "";
  position: absolute;
  top: 50%;
}
.arrow_hover_readmore:before {
  right: 24px;
  width: 6px;
  margin-top: -3px;
  margin-left: -5px;
  height: 6px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.arrow_hover_readmore:hover:after {
  width: 15px;
}

.arrow_hover_readmore:hover:before {
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}
.arrow_hover_readmore:after {
  right: 25px;
  width: 0;
  height: 2px;
  background-color: #fff;
  -webkit-transition: .16s ease-out;
  transition: .16s ease-out;
}


@media (max-width:450px) {
  .main_thank_block {
    padding: 190px 0;
  }

  .main_thank_block h1 {
    font-size: 32px;
    line-height: 38px;
  }
}

@media (max-width:350px) {
  .main_thank_block {
    padding: 140px 0;
  }
}